<%= form_for(@evaluation) do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :submission_id %><br />
    <%= f.number_field :submission_id %>
    <%= f.collection_select :submission_id, Submission.all, :id, :id, :prompt => "Select submission..." %>

  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name, :prompt => "Select user..." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
