<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_text %><br />
    <%= f.text_area :question_text %>
  </div>
  <div class="field">
    <%= f.label :question_weight %><br />
    <%= f.number_field :question_weight %>
  </div>
  <div class="field">
    <%= f.label :written_response_required %><br />
    <%= f.check_box :written_response_required %>
  </div>
  <div class="field">
    <%= f.label :assignment_id %><br />
    <%= f.collection_select :assignment_id, Assignment.all, :id, :id, :prompt => "Select assignment..." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
