<%= render "assignments/header" %>

<% if @questions and @questions.length > 0 %>

<% @questions.each do |question| %>
  <div class="rubricQuestion">
    <%= link_to [:edit, @course, @assignment, question] do %>
      <h2>"<%= question.question_text %>"</h2>
    <% end %>
    <h4>
      <%=question.question_weight %> POINTS -
      <%= link_to "Delete", course_assignment_question_path(@course, @assignment, question), method: :delete %>
    </h4>
    
  </div>
<% end %>

<br />

<%= link_to new_course_assignment_question_path(@course, @assignment, :type => 'yesno') do %>
  <div class="button">New question</div>
<% end %>

<% else %>

  <h2 class="noData">
    <%= link_to 'Create first rubric question.',  new_course_assignment_question_path(@course, @assignment, :type => 'yesno') %>
  </h2>

<% end %>