<%= render "assignments/header" %>

<div id="backBar">
	<%= link_to 'Back to Rubric', assignment_questions_path %>
</div>

<h2>New Rubric Question</h2>

<h4>Question Type</h4>

<div class="button questionType <%= 'selected' if @type == 'yesno' %>"><%= link_to 'Yes/No',  new_assignment_question_path(@assignment, :type => 'yesno') %>
</div>
<div class="button questionType <%= 'selected' if @type == 'scale' %>"><%= link_to 'Scale',  new_assignment_question_path(@assignment, :type => 'scale') %>
</div>
<div class="clearfix"></div>


<%= render 'form' %>