<%= nested_form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :submission_due, "Submission Deadline" %><br />
    <%= f.datetime_select :submission_due %>
  </div>
  <div class="field">
    <%= f.label :review_due, "Review Deadline" %><br />
    <%= f.datetime_select :review_due %>
  </div>
  <div class="field">
    <%= f.label :reviews_required %><br />
    <%= f.number_field :reviews_required %>
  </div>
  <div class="field">
    <%= f.label :draft %><br />
    <%= f.check_box :draft %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>