<%= nested_form_for [@course, @assignment] do |f| %>
  <h3>Assignment Settings</h3>

  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <% @assignment.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, "Assignment Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :submission_due, "Submission Deadline" %><br />
    <%= f.text_field :submission_due_date %> at
    <%= f.time_select :submission_due_time, {minute_step: 15, ampm: true, :time_separator => ""} %>
  </div>
  <div class="field">
    <%= f.label :review_due, "Review Deadline" %><br />
    <%= f.text_field :review_due_date, :disabled => @assignment.review_due && (Time.zone.now > @assignment.review_due) %> at
    <%= f.time_select :review_due_time, {minute_step: 15, ampm: true, :time_separator => ""} %>
  </div>
  <div class="field">
    <%= f.label :reviews_required %><br />
    <%= f.number_field :reviews_required, :disabled => @assignment.review_due && (Time.zone.now > @assignment.submission_due) %>
  </div>
  <div class="actions">
    <div class="clearfix"></div>
    <%= f.submit %>
    <% if @assignment.draft %>
      <div class='button publish'>
        <%= link_to 'Publish Assignment', assignments_publish_path(:assignment => @assignment.id), data: { confirm: 'Are you sure you wish to publish this assignment?' } %>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <% if @assignment.id %>
    <div class="delete">
      <%= link_to 'Delete', course_assignment_path(@course, @assignment), method: :delete, data: { confirm: 'Are you sure you want to delete this assignment?' } %>
    </div>
  <% end %>
<% end %>
