<%= nested_form_for [@course, @assignment] do |f| %>
  <h3>Assignment Settings</h3>

  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label"><%= @assignment.status %></div>
  </div>
  <div class="field">
    <%= f.label :name, "Assignment Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :submission_due, "Submission Deadline" %><br />
    <%= f.datetime_select :submission_due %>
  </div>
  <div class="field">
    <%= f.label :review_due, "Review Deadline" %><br />
    <%= f.datetime_select :review_due %>
  </div>
  <div class="field">
    <%= f.label :reviews_required %><br />
    <%= f.number_field :reviews_required %>
  </div>
  <% if @assignment.draft %>
    <div class="field">
      <%= f.label :draft %>&nbsp;
      <%= f.check_box :draft %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :draft %>&nbsp;
      <%= f.check_box :draft, :disabled => true %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% if @assignment.id %>
    <div class='button destructive'>
      <%= link_to 'Delete', course_assignment_path(@course, @assignment), method: :delete, data: { confirm: 'Are you sure you want to delete this assignment?' } %>
    </div>
  <% end %>
<% end %>
