<div id="header">

    <h1 class="name"><%= @assignment.name %></h1>

    <% if @assignment.id %>
        <div class="tabs">
            <% if current_user.instructor?(@course) %>
            <div class="tab <%= 'active' if controller.controller_name == 'assignments' %>">
                <%= link_to edit_course_assignment_path(@course, @assignment) do %>
                    Dashboard
                <% end %>
            </div>

            <div class="tab <%= 'active' if controller.controller_name == 'reviews' %>">
                <%= link_to course_assignment_reviews_path(@course, @assignment) do %>
                    Reviews
                <% end %>
            </div>

            <div class="tab <%= 'active' if controller.controller_name == 'submissions' %>">
                <%= link_to course_assignment_submissions_path(@course, @assignment) do %>
                    Submissions
                <% end %>
            </div>

            <div class="tab <%= 'active' if controller.controller_name == 'questions' %>">
                <%= link_to course_assignment_questions_path(@course, @assignment) do %>
                    Rubric
                <% end %>
            </div>

            <% end %>

            <div class="tab logout">
                <%= link_to edit_user_path(current_user, :course => @course.id) do %>
                    Settings
                <% end %>
                <%= link_to logout_path do %>
                    Sign out
                <% end %>
            </div>
        </div>
    <% end %>

</div>

<div id="headerSpacer"></div>
