<%= form_for [@course, @assignment, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :attachment, :accept => 'application/pdf', :required => true, :style => 'border: 0px' %>
  </div>
  <div class="field hidden">
    <%= f.collection_select :assignment_id, Assignment.all, :id, :name, :prompt => "Select assignment..." %>
  </div>
  <div class="actions">
    <%= f.submit (@submission.created_at ? "Resubmit" : "Submit" ) %>

    <% if @submission.created_at %>
      <a href='<%= @submission.attachment.url %>' style="color:#343F53; display: block; margin-top: 15px;">View Uploaded Submission</a>
    <% end %>
  </div>
<% end %>
