<%= form_for [@course, @assignment, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :attachment, :required => true %>
  </div>
  <div class="field hidden">
    <%= f.collection_select :assignment_id, Assignment.all, :id, :name, :prompt => "Select assignment..." %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Assignment" %>
    <% if @submission.created_at %>
      <a style="margin-left: 20px;" href='<%= @submission.attachment.url %>'>&#10004; Submitted on time</a>
    <% end %>
  </div>
<% end %>
