<%= form_for [@course, @assignment, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @submission.created_at %>
    <p><a href='http://<%= request.host_with_port %><%= @submission.submission %>' >View Submission</a>
    <br /> You can continue submitting until the deadline.</p>
  <% end %>
  <div class="field">
    <%= f.file_field :submission, :accept => 'application/pdf', :required => true %>
  </div>
  <div class="field hidden">
    <%= f.collection_select :assignment_id, Assignment.all, :id, :name, :prompt => "Select assignment..." %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Assignment" %>
  </div>
<% end %>