<%= render "assignments/header" %>

<%= render 'form' %>

<div class="assignmentStatus">
	<h3>Assignment Progress</h3>
    <% @assignment = Assignment.find(@assignment.id) %> <!-- in case a validation error -->
	<div class="checkPoint <%= if @assignment.questions.length > 0 then 'completed' end %>">Rubric Entered</div>
	<div class="checkPoint <%= if (!@assignment.draft) then 'completed' end %>">Assignment Published</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (Time.zone.now > @assignment.submission_due) then 'completed' end %>">Submission Deadline Passed</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (Time.zone.now > @assignment.submission_due) && (@assignment.reviews_required > 0) then 'completed' end %>">Peer Reviews Assigned</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (Time.zone.now > @assignment.review_due) && (@assignment.reviews_required > 0)  then 'completed' end %>">Review Deadline Passed</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (@assignment.allGradesApproved?) && (@assignment.reviews_required > 0) then 'completed' end %>">Assignment Reviewing Complete</div>
</div>
