<%= render "assignments/header" %>

<%= render 'form' %>

<div class="assignmentStatus">
	<h3>Assignment Progress</h3>
    <% @assignment = Assignment.find(@assignment.id) %> <!-- in case a validation error -->
	<div class="checkPoint <%= if @assignment.questions.length > 0 then 'completed' end %>">Rubric Entered</div>
	<div class="checkPoint <%= if (!@assignment.draft) then 'completed' end %>">Assignment Published</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (Time.zone.now > @assignment.submission_due) then 'completed' end %>">Submission Deadline Passed</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (@assignment.are_reviewers_assigned) then 'completed' end %>">Peer Reviews Assigned</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (Time.zone.now > @assignment.review_due) then 'completed' end %>">Review Deadline Passed</div>
	<div class="checkPoint <%= if (!@assignment.draft) && (@assignment.allGradesApproved?)  then 'completed' end %>">Assignment Grading Complete</div>
</div>

<% if @assignment.are_reviewers_assigned  %>
    <% if Time.zone.now.between?(@assignment.submission_due, @assignment.review_due)  %>
        <div id="reviewing_tasks">
          <% @reviewing_tasks.each_with_index do |task, index| %>
              <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) do %>
                  <div class="reviewing_task highlighted" > <%= ((task.finished? or Time.zone.now > @assignment.review_due) ? 'See' : 'Complete') + ' Review ' + (index + 1).to_s %></div>
              <% end %>
          <% end %>
        </div>
    <% end %>
<% end %>


