<%= render "assignments/header" %>

<p>
  <b>Submission due:</b>
  <%= @assignment.submission_due %>
</p>

<p>
  <b>Review due:</b>
  <%= @assignment.review_due %>
</p>

<p>
  <b>Reviews required:</b>
  <%= @assignment.reviews_required %>
</p>

<p>
  <b>Draft:</b>
  <%= @assignment.draft %>
</p>

<p>
  <b>Course:</b>
  <%= @assignment.course_id %>
</p>

