<%= render "assignments/header" %>

<!-- User is not instructor -->

<% if Time.zone.now < @assignment.submission_due or
        Time.zone.now < @assignment.review_due and @submissions.length == 0 %>    <!-- allow late submissions if none done -->
    <%= render 'submission' %>
<% end %>


<% if @submissions.length > 0 %>
    <h3 class='assignment_section_header'>Your Submission(s)</h3>
    <% @submissions.each do |submission| %>
        <div id="reviewing_task">
          <%= link_to course_assignment_submission_path(@course, @assignment, submission) + '?view=true' do %>
              <%= submission.user.name + "'s" +
                          ((e = submission.evaluations.select{|e| e.finished }.length) > 0 ? (" with " + e.to_s + ' review(s)') : '')  %>
          <% end %>
        </div>
    <% end %>
<% end %>


<br>


<% if @assignment.are_reviewers_assigned %>
    <div id="reviewing_tasks">
      <% if @reviewing_tasks.length > 0 %>
          <h3 class='assignment_section_header'>Reviews by You</h3>
          <% @reviewing_tasks.each_with_index do |task, index| %>
              <div id="reviewing_task">
                <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) do %>
                    <%= (task.finished?  ? 'See' : 'Complete') + ' Review ' + (index + 1).to_s %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>

<!--<div class="clearfix"></div>-->


<% if Time.zone.now < @assignment.submission_due %>
    <h3 class='assignment_section_header'>Reviewing Rubric</h3>
    <% @questions.each do |question| %>
        <div class='submissionQuestionBox clearfix'>
          <h2><%= question.question_text %></h2>
          <div class='possiblePoints'><%= question.question_weight %> Points</div>
          <ul class='rubricScale'>
            <% question.scales.sort_by{|s| s.value}.each do |scale|  %>
                <li><%= scale.value.to_s + '%: ' + scale.description  %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>



