<%= render "assignments/header" %>

<!-- User is not instructor -->

  
    <!-- <span>Assignment Progress: </span>
    <% if (Time.zone.now > @assignment.submission_due)  %>
      Assignment due on <%= @assignment.submission_due.to_s(:pretty) %>
      <% elsif (@assignment.manual_assignment && @assignment.reviewers_assigned) || ((Time.zone.now > @assignment.submission_due) && (@assignment.reviews_required > 0) && !@assignment.manual_assignment) %>
      Peer reviews assigned
    <% elsif (Time.zone.now > @assignment.review_due) && (@assignment.reviews_required > 0)  %>
    Peer reviews due on <%= @assignment.review_due.to_s(:pretty) %>
    <% elsif (@submission.instructor_approved) && (@assignment.reviews_required > 0) %>">
    Grade approved
    <% else %>
    Assignment released
    <% end %> -->

<% if !@assignment.are_reviewers_assigned or (Time.zone.now < @assignment.review_due and @submissions.length == 0) %>    <!-- allow late submissions if none done -->
    <%= render 'submission' %>
<% end %>


<% if @submissions.length > 0 %>
    <h3 class='assignment_section_header'>Your Submission<%= @submissions.length > 1 ? 's' : '' %></h3>
    <% @submissions.each do |submission| %>
        <div class="reviewing_task your_submission">
          <%= link_to course_assignment_submission_path(@course, @assignment, submission) + '?view=true' do %>
              <%= submission.user.name %>
              <span>
                <%= ((n = submission.evaluations.select{|e| e.finished }.length) > 0 ? "#{n.to_s} review" : '') + (n > 1 ? 's' : '')  %>
              </span>
          <% end %>
        </div>
    <% end %>
<% end %>


<br><br>


<% if @assignment.are_reviewers_assigned and @reviewing_tasks.length > 0 %>
    <div id="reviewing_tasks">
      <% if @reviewing_tasks.length > 0 %>
          <h3 class='assignment_section_header'>Reviews by You</h3>
          <% @reviewing_tasks.each_with_index do |task, index| %>
              <div class="reviewing_task <%= (task.finished?  ? '' : 'highlighted') %> ">
                <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) do %>
                    <%= task.finished?  ? 'See' : "Complete"  %>
                    <%= ' Review ' + (index + 1).to_s %>
                    <% if Time.now < @assignment.review_due %>
                      <% review_time_is = @assignment.review_due.strftime('%A (%-m/%-d) at %I:%M %p</span>') %>
                      <%= task.finished? ? ((e = task.submission.evaluations.select{|e| e.finished }.length) > 0 ? ("<span>#{e.to_s} review(s)</span>").html_safe : '') : ("<span>by #{review_time_is}</span>").html_safe %>
                    <% end %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>

<!--<div class="clearfix"></div>-->


<% if Time.zone.now < @assignment.submission_due %>
    <h3 class='assignment_section_header'>Reviewing Rubric</h3>
    <% @questions.each do |question| %>
        <div class='submissionQuestionBox clearfix'>
          <h2><%= question.question_text %></h2>
          <div class='possiblePoints'><%= question.question_weight %> Points</div>
          <ul class='rubricScale'>
            <% question.scales.sort_by{|s| s.value}.each do |scale|  %>
                <li><%= scale.value.to_s + '%: ' + scale.description  %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>



