<%= render "assignments/header" %>

<div class="assignment_details">
  <p>
    <b>Submissions due </b>
    <%= @assignment.submission_due.to_s(:pretty) %>
  </p>

  <p>
    <b>Reviews due </b>
    <%= @assignment.review_due.to_s(:pretty) %>
  </p>
</div>

<% if !@submission.created_at || (Time.zone.now < @assignment.submission_due) %>
	<%= render 'submission' %>
<% elsif !@submission.created_at && (Time.zone.now >= @assignment.submission_due) %>
	<div class="edit_submission">
    <% if Time.zone.now <= @assignment.review_due %>
		  <p>Submission deadline has passed.</p>
    <% else %>
      <p class="grade"><%= if @submission.percentage then @submission.percentage.round else '--' end %>%</p>
    <% end %>
	</div>
<% else %>
  <div class="edit_submission">
    <% if Time.zone.now <= @assignment.review_due %>
      <p>Your assignment was submitted on time.</p>
    <% else %>
      <p class="grade" style="<%= if (!@submission.percentage || !@submission.instructor_approved) then 'font-size: 24pt; margin-top: 10px;' end %>"><%= if @submission.percentage && @submission.instructor_approved then @submission.percentage.round.to_s + '%' else 'Grade Pending' end %></p>
    <% end %>
    <a href='http://<%= request.host_with_port %><%= @submission.submission %>' style="color:#343F53;">View Submission</a>
    </p>
  </div>
<% end %>

<div class="clearfix"></div>

<% if (Time.zone.now > @assignment.submission_due) && (Time.zone.now <= @assignment.review_due) %>
  <div id="reviewing_tasks">
    <% @reviewing_tasks.each_with_index do |task, index| %>
        <% if task.is_complete? %>
          <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) do %>
            <div class="reviewing_task <%= if task.is_complete? == false then 'highlighted' end %>"><%= 'Edit Review' + (index + 1).to_s %></div>

          <% end %>
        <% else %>
          <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) do %>
            <div class="reviewing_task <%= if task.is_complete? == false then 'highlighted' end %>"><%= 'Complete Review' + (index + 1).to_s %></div>
          <% end %>
        <% end %>
    <% end %>
  </div>
<% end %>

<div class="clearfix"></div>

<% if @evaluations && (@submission.completed_responses.length > 0) && (Time.zone.now >= @assignment.review_due) %>
<div id="student_evaluation_view">
  <% @evaluations[0].responses.sort_by {|obj| obj.created_at }.each do |eval| %>
    <div class='submissionQuestionBox clearfix'>
    <h2><%= eval.question.question_text %></h2>
    <div class='possiblePoints'><%= eval.question.question_weight %> Points</div>
      <% get_evaluations_for_submission_question(@submission, eval.question).each_with_index do |response, index| %>
        <% if response.is_complete? %>
          <div class='submissionBox'>
            <div class='submissionResponsePoints <%= gradeColorFullScale(prettifyFloat(((100 / (response.question.scales.length - 1.0) * response.scale.value)))) %>'><%= if !response.scale.nil? then prettifyFloat(((100 / (response.question.scales.length - 1.0) * response.scale.value))).to_s + '%' else '--' end %></div>
            <div class='submissionResponseFrom'>Reviewer <%= index + 1 %></div>
            <div class='submissionPeerReview'><%= if response.peer_review.blank? then 'No comment provided' else response.peer_review end %></div>
            
            <div class='submissionInstructorResponse'>
              <% if !response.student_response.blank? then %>
                  <div class='submissionResponseFrom' style="margin-top: 20px;">Your Reply</div>
                  <%= response.student_response %>
              <% elsif response.instructor_response.blank? && !@submission.instructor_approved %>
                <div class='submissionResponseFrom' style="margin-top: 20px;">Your Reply</div>
                <%= nested_form_for [@course, @assignment, eval.question, response]  do |f| %>
                  <%= f.text_area :student_response, class: 'submissionTextArea fl'  %>
                  <%= f.submit "Reply", class: 'submissionTextAreaReply fr' %>
                <% end %>
              <% end %>
            </div> <!-- End Student Response -->

            <% if response.instructor_response != nil then %>
              <div class='submissionStudentResponse'>
                <div class='submissionResponseFrom' style="margin-top: 25px;">Instructor's Reply</div>
                <%= response.instructor_response %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div> <!-- end submissionQuestionBox -->
    <div class="clearfix"></div>
  <% end %>
</div>
<% end %>
