<%= render "assignments/header" %>

<!-- User is not instructor -->

<!--  <div class="assignmentStatus" style="width: 49%;">
    <h3>Assignment Progress</h3>
    <div class="checkPoint completed %>">Assignment released</div>
    <div class="checkPoint <%= if (Time.zone.now > @assignment.submission_due) then 'completed' end %>">Assignment due on <%= @assignment.submission_due.to_s(:pretty) %></div>
    <div class="checkPoint <%= if (@assignment.manual_assignment && @assignment.reviewers_assigned) || ((Time.zone.now > @assignment.submission_due) && (@assignment.reviews_required > 0) && !@assignment.manual_assignment) then 'completed' end %>">Peer reviews assigned</div>
    <div class="checkPoint <%= if (Time.zone.now > @assignment.review_due) && (@assignment.reviews_required > 0)  then 'completed' end %>">Peer reviews due on <%= @assignment.review_due.to_s(:pretty) %></div>
    <div class="checkPoint <%= if (@submission.instructor_approved) && (@assignment.reviews_required > 0) then 'completed' end %>">Grade approved</div>
</div> -->

<% if Time.zone.now < @assignment.submission_due or (Time.zone.now < @assignment.review_due and @submissions.length == 0) %>    <!-- allow late submissions if none done -->
    <%= render 'submission' %>
<% end %>


<% if @submissions.length > 0 %>
    <h3 class='assignment_section_header'>Your Submission
    <% if @submissions.length > 1 %>s<% end %>
    </h3>
    <% @submissions.each do |submission| %>
        <div class="reviewing_task your_submission">
          <%= link_to course_assignment_submission_path(@course, @assignment, submission) + '?view=true' do %>
              <%= submission.user.name + "<span>" +
                          ((e = submission.evaluations.select{|e| e.finished }.length) > 0 ? (e.to_s + ' review(s)') : '') + "</span>"  %>
          <% end %>
        </div>
    <% end %>
<% end %>


<br>


<% if @assignment.are_reviewers_assigned %>
    <div id="reviewing_tasks">
      <% if @reviewing_tasks.length > 0 %>
          <h3 class='assignment_section_header'>Reviews by You</h3>
          <% @reviewing_tasks.each_with_index do |task, index| %>
              <div class="reviewing_task <%= (task.finished?  ? '' : 'highlighted') %> ">
                <%= link_to course_assignment_submission_path(@course, @assignment, task.submission) do %>
                    <%= (task.finished?  ? 'See' : "Complete" ) + ' Review ' + (index + 1).to_s + ' <span>by ' + @assignment.review_due.strftime('%A (%-m/%-d) at %I:%M %p</span>') %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>


<!--<div class="clearfix"></div>-->


<% if Time.zone.now < @assignment.submission_due %>
    <h3 class='assignment_section_header'>Reviewing Rubric</h3>
    <% @questions.each do |question| %>
        <div class='submissionQuestionBox clearfix'>
          <h2><%= question.question_text %></h2>
          <div class='possiblePoints'><%= question.question_weight %> Points</div>
          <ul class='rubricScale'>
            <% question.scales.sort_by{|s| s.value}.each do |scale|  %>
                <li><%= scale.value.to_s + '%: ' + scale.description  %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>



