<h1 class="name">All Users</h1>


<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>ID</th>
    <th>&nbsp;</th>
  </tr>

  <% User.all.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.id.to_s </td>
        <td><%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure you wish to remove this user from Coursemark?' }  %></td>
  </tr>
  <% end %>
</table>
