<div id="header">
    <h1 class="name">Account Settings</h1>
    <div class="tabs">
        <div class="tab logout">
        	<%= link_to edit_user_path(current_user) do %>
                Settings
            <% end %>
            <%= link_to logout_path do %>
                Sign out
            <% end %>
        </div>
    </div>
</div>

<div id="headerSpacer" style="height:90px;"></div>

<h2>Enrollments</h2>

<table>
  <tr>
    <th>Course</th>
    <th>Type</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= link_to registration.course.name, course_path(registration.course) %></td>
    <td><%= registration.instructor ? "Course Staff" : "Student"  %></td>
    <td><%= link_to 'Leave Course', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if current_user.email == 'admin@email.com' %>
        <td><%= link_to 'Delete Course', registration.course, method: :delete, data: { confirm: 'Do you want to erase this course and all its data?' }%></td>
    <% else %>
        <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if @user.email == 'admin@email.com' %>
    <%= link_to new_course_path do %>
      <div class="button" style="float:left;">Create Course</div>
    <% end %>
<% end %>

<%= link_to new_registration_path do %>
  <div class="button" style="float:left;">Join Course</div>
<% end %>

<div class="clearfix"></div>

<h2>Login information</h2>

<%= render 'edit_form' %>
