<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.text_field :course_code, :placeholder => "Course code" %>   
    </div>
  <div class="actions">
    <%= f.submit "Join course" %>
  </div>

  <div class="actions newAccount"><%= link_to "Create a new course", new_course_path, :class => "button" %></div>
  <% end %>
<% end %>
