<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.text_field :course_code, :placeholder => "Course code" %>   
    </div>
  <div class="actions">
    <%= f.submit "Join course" %>
  </div>

  <%= link_to new_course_path, :class => "button" do %>
    <div class="actions newAccount">Create a new course</div>
  <% end %>
<% end %>
