<div id="header">
  <h1 class="name">Course Roster</h1>
  <div class="tabs">
    <div class="tab settings">
      <%= link_to edit_user_path(current_user) do %>
          Settings
      <% end %>
    </div>
    <div class="tab logout">
      <%= link_to logout_path do %>
          Sign out
      <% end %>
    </div>
  </div>
</div>


<div id="headerSpacer"></div>

<div class="notice">Instruct students to register at coursemark.org using this course code: <strong><%= @course.course_code %></strong>.
  There are <%= @registrations.length.to_s %> people registered.</div>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Email</th>
    <!--<th>&nbsp;</th>-->
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.active ? registration.user.name : "<div style='color:red'>#{registration.user.name}</div>".html_safe %></td>
        <td><%= registration.instructor ? 'Instructor' : registration.user.pseudo ? 'Team' : 'Student' %></td>
        <td><%= registration.user.email %></td>
<!--
        <td>
          <% unless registration.instructor or registration.user.pseudo %>
              <%= link_to 'Log in as', application_login_student_path(:student => registration.user.id) %>
          <% end %>
        </td>
-->
        <td><%= unless registration.user.email == 'admin@email.com' then link_to 'Remove', registration, method: :delete,
                                                                                 data: { confirm: 'Are you sure you wish to remove this student from the course?' } end %></td>
        <td>
          <% if !registration.instructor %>
              <%= link_to 'Add to Course Staff', registrations_add_to_course_staff_path(:registration => registration.id), data: { confirm: 'Are you sure you wish to add this user to the course staff?' } %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<br />
<form method='get' action='/registrations/invite_students'>
  <div class="field" >
    <textarea cols="60" name="response[invites]" rows="20"></textarea>
  </div>
  <%= hidden_field_tag 'course', @course.id %>
  <div class="actions">
    <input name='button' type='submit' value='Invite Students' />
  </div>
</form>
Each line should be First_Name,Last_Name,Email