<%= render "assignments/header" %>

<% if @submissions.length > 0 %>
  <table class="submissions">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Timestamp</th>
        <th>Grade</th>
        <th></th>
      </tr>
      <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user.first_name %></td>
        <td><%= submission.user.last_name %></td>
        <td><%= submission.created_at.to_s(:pretty) %></td>
        <td><%= submission.percentage %>%</td>
        <% if submission.instructor_approved %>
          <td><%= link_to 'See Reviews', [@course, @assignment, submission] %></td>
        <% else %>
          <td><%= link_to 'Begin Approval', [@course, @assignment, submission] %></td>
        <% end %>
      </tr>
      <% end %>
  </table>
<% else %>
  <h2 class="noData">No one has submitted yet.</h2>
<% end %>
