<%= render "assignments/header" %>

<table class="submissions">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Submitted</th>
    <th>Reviews Received</th>
    <th>Grade</th>
    <th>Reviews Given</th>

  </tr>
  <% @students.each do |student| %>
      <% submission = @assignment.submissions.select{|s| s.user_id == student.id }[0] %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <% if submission %>
            <td>
              <%= submission.created_at.to_s(:pretty) %>
            </td>
            <td>
              <a href=<%= "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/#{submission.id}?instructor=true" %>>
                <%= @assignment.evaluations.forSubmission(submission).select {|evaluation| evaluation.finished?}.length %> /
                <%= @assignment.evaluations.forSubmission(submission).length %></a>
            </td>
            <td>
              <%= unless (g = submission.grade).blank? then prettifyFloat(g).to_s + '%' else "--" end %>
              <% if submission.instructor_approved then %><div class="checkmark"></div><% end %>
            </td>
        <% else %>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        <% end %>
        <td>
          <% unless student.pseudo %>
              <%if (completed_review_count = @assignment.evaluations.forUser(student).select {|evaluation| evaluation.finished?}.length) > 0 %>
                  <a href=<%= "/courses/#{@course.id}/assignments/#{@assignment.id}?reviewer=#{student.id}" %>>
                    <%= completed_review_count.to_s + "/" + @assignment.evaluations.forUser(student).length.to_s %></a>
              <% else %>
                  0/<%= @assignment.evaluations.forUser(student).length.to_s %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<br />
<%= link_to :controller => "assignments", :action => "export" do %>
    <div class='button' style="float: left;">
      Export Grades CSV
    </div>
<% end %>




