<%= render "assignments/header" %>

<table class="submissions">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Submitted</th>
    <th>Reviews</th>
    <th>Grade</th>
    <th></th>
  </tr>
  <% @assignment.course.get_students.sort_by{ |u| u.first_name }.sort_by{ |u| u.last_name }.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <% submission = student.get_submission(@assignment) %>
        <% if submission %>
            <td><%= submission.created_at.to_s(:pretty) %></td>
            <td><%= submission.evaluations_completed.length %> / <%= submission.evaluations_assigned.length %></td>
            <td>
              <%= if !submission.percentage.blank? then submission.percentage.round else "--" end %>
              <% if submission.instructor_approved %><div class="checkmark"></div><% end %>
            </td>
            <td><%= link_to 'View Reviews', [@course, @assignment, submission] %></td>
        <% else %>
            <td>--</td>
            <td></td>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>

</table>
<br />
<%= link_to :controller => "assignments", :action => "export" do %>
    <div class='button' style="float: left;">
      Export Grades CSV
    </div>
<% end %>




