<%= render "assignments/header" %>

<% if @submissions.length > 0 %>
  <table class="submissions">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Timestamp</th>
        <th>Grade</th>
        <th></th>
      </tr>
      <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user.first_name %></td>
        <td><%= submission.user.last_name %></td>
        <td><%= submission.created_at.to_s(:pretty) %></td>
        <td><%= if !submission.percentage.blank? then submission.percentage.round else "--" end %>%</td>
        <% if submission.instructor_approved %>
          <td><%= link_to 'View Reviews', [@course, @assignment, submission] %></td>
        <% else %>
          <td><%= link_to 'Needs Approval', [@course, @assignment, submission] %></td>
        <% end %>
      </tr>
      <% end %>
  </table>
  <br />
  <div class='button'>
    <%= link_to "Export Assignment", :controller => "assignments", :action => "export" %>
  </div>
<% else %>
  <h2 class="noData">No one has submitted yet.</h2>
<% end %>
