<%= render "assignments/header" %>

<table class="submissions" id="submissionTable">
  <thead>
  <tr>
    <th><%= sortable "Name" %></th>
    <th><%= sortable "Email" %></th>
    <th><%= sortable "Section" %></th>
    <th><%= sortable "Submitted" %></th>
    <th>Reviews Received</th>
    <th><%= sortable "Grade" %></th>
    <th>Reviews Given</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
      <% submissions = @assignment.submissions.select{|s| s.user_id == student.id } %>
      <% if submissions.length == 0 then submissions = [nil] end %>
      <% submissions.each do |submission| %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.registration_in(@course).section %></td>
            <% if submission %>
                <td>
                  <%= (submission.created_at  > @assignment.submission_due ? "<span style='color:red'>" : '<span>').html_safe %>
                  <%= submission.created_at.strftime('%m/%d/%y %H:%M') %>
                  </span>
                </td>
                <td>
                  <a href=<%= "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/#{submission.id}?instructor=true" %>>
                    <%= @assignment.evaluations.forSubmission(submission).select {|evaluation| evaluation.finished?}.length %> /
                    <%= @assignment.evaluations.forSubmission(submission).length %></a>
                </td>
                <td>
                  <%= unless (g = submission.grade).blank? then prettifyFloat(g).to_s + '%' else "--" end %>
                  <% if submission.instructor_approved then %><div class="checkmark"></div><% end %>
                </td>
            <% else %>
                <td>--</td>
                <td>--</td>
                <td>--</td>
            <% end %>
            <td>
              <% unless student.pseudo %>
                  <% completed_reviews =   @assignment.evaluations.forUser(student).select {|evaluation| evaluation.finished?} %>
                  <%if (completed_review_count = completed_reviews.length) > 0 %>
                      <a href=<%= "/courses/#{@course.id}/assignments/#{@assignment.id}?reviewer=#{student.id}" %>>
                      <span <%= completed_reviews.any?{|e| e.updated_at > @assignment.review_due } ? "style=color:red" : "" %> >
                       <%= completed_review_count.to_s + "/" + @assignment.evaluations.forUser(student).length.to_s %>
                      </span>
                      </a>
                  <% else %>
                      0/<%= @assignment.evaluations.forUser(student).length.to_s %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<script>
    <!-- Client side table sorting -->
    $("#submissionTable").tablesorter({
        // sort first on section, then by name.
        sortList: [[2,0],[0,0]]
    });
</script>
<br />
<%= link_to :controller => "assignments", :action => "export" do %>
    <div class='button' style="float: left; color:black; width:175px;">
      Export Grades CSV
    </div>
<% end %>




