<%= render "assignments/header" %>

<% if (Time.zone.now <= @assignment.review_due) && (@assignment.submissions.length > 0) %>
  <div class="notice">Grades will be available for approval on <%= @assignment.review_due.to_s(:pretty) %></div>
<% elsif (@assignment.allGradesApproved? == false) && (@assignment.submissions.length > 0) %>
  <div class="notice">Students will be able to see their grades after they have been approved</div>
<% end %>

<% if @submissions.length > 0 %>
  <table class="submissions">
      <tr>
        <th></th>
        <th>First name</th>
        <th>Last name</th>
        <th>Timestamp</th>
        <% if Time.zone.now > @assignment.review_due %>
          <th>Grade</th>
          <th></th>
        <% end %>
      </tr>
      <% @submissions.each do |submission| %>
      <tr class="<%= if submission.instructor_approved then "highlighted" end %>">
        <td><% if submission.instructor_approved %><div class="checkmark"></div><% end %></td>
        <td><%= submission.user.first_name %></td>
        <td><%= submission.user.last_name %></td>
        <td><%= submission.created_at.to_s(:pretty) %></td>
        <% if Time.zone.now > @assignment.review_due %>
          <td><%= if !submission.percentage.blank? then submission.percentage.round else "--" end %>%</td>
          <% if submission.instructor_approved %>
            <td><%= link_to 'View Reviews', [@course, @assignment, submission] %></td>
          <% else %>
            <td><%= link_to 'Needs Approval', [@course, @assignment, submission] %></td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
  </table>
  <br />
  <% if @assignment.allGradesApproved? %>
    <%= link_to :controller => "assignments", :action => "export" do %>
      <div class='button' style="float: left;">
        Export Grades CSV
      </div>
    <% end %>
  <% end %>
<% else %>
  <h2 class="noData">No one has submitted yet.</h2>
<% end %>
