<!-- This should show the review of a submission regardless of who is asking for it-- instructor, submitter, or reviewer -->
<% instructor = (@user.instructor?(@course) or current_user.instructor?(@course)) %>
<div id='submissionHeader'>
  <small style='display:block; float:left; margin-top:-18px; width:100%;'>
    <%= link_to "#{@submission.assignment.name}".html_safe , course_assignment_path(@course, @assignment), :class => "assignment_back_btn" %>
    <h1 class="name"> <% if instructor %><%= @submission.user.name %><% end %></h1>
    <% if @submission and @submission.url and !@submission.url.blank? %>
        <div id='submissionDownloadBtn'>
          <a href='<%= @submission.url %>' content-dispostition="inline" >Download Submission</a>
        </div>
    <% end %>
  </small>
</div>

<% if @submission and @submission.url and !@submission.url.blank? %>
    <div id='submissionPDFWrapper'>
      <embed src="<%= @submission.url %>" content-dispostition="inline" width="100%" height="100%" style="border: none;"></embed>
    </div>

<% end %>

<div id='submissionsWrapper'>
  <div id='submissionBoxesWrapper'  >
    <% if instructor %>
        <% if Time.zone.now > @assignment.review_due %>
            <a href='<%= "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/#{@submission.id}?instructor_approved_toggle=true" %>' >
              <div class='button fl' style='margin-right: 20px;'><%= @submission.instructor_approved ? 'Reopen Review' : 'End Review'%></div>  </a>
        <% end %>
      <span class='submissionGradeBox'>
        <span class='grade'> Average <%= prettifyFloat(@submission.grade).to_s + '%' %></span>
      </span>
    <% end %>
    <% if !@submitter and @user == current_user and (e = @submission.evaluations.forUser(@user)[0]) and
            !@kibitzing and !e.finished  and !@submission.instructor_approved %>
        <!-- This user is a reviewer who hasn't finished but has time  -->
        <% @questions.each do |question| %>
            <% if !question.nil? %>
                <% if !( r =response_for_question_by_peer(@user, @submission, question)) %>
                    <% r = Response.new(question_id: question.id, evaluation_id:e.id ) %>
                    <% r.save! %>
                <% end %>
                <div class='submissionQuestionBox' id='peer_review'>
                  <h2><%= question.question_text %></h2>
                  <%= complete_peer_review(r, @user) %>
                  <%= student_rebuttal(r, @user) %>
                  <%= instructor_comment(r, instructor) %>
                </div>
            <% else %>
                <h2>Missing Question? Inform james.morris@cmu.edu, sending screen shot.</h2>
                puts "Error, null question: " + @questions.inspect
            <% end %> <!-- submissionQuestionBox -->
        <% end %> <!-- questions loop -->
        <div>
          <%= link_to course_assignment_path(@course, @assignment) do %>
              <div id='submitFormsButton' class='button'>Save Review</div>
          <% end %>
        </div>
        <div>
          <%= link_to course_assignment_submission_path(@course, @assignment, @submission, finish: true) do %>
              <div id='submitFormsButton' class='button'>Save and Publish Review</div>
          <% end %>
        </div>

    <% else %> <!-- the user is a submitter or a reviewer who is finished or out of time or an instructor -->
        <!--     EVALUATIONS -->
        <% if !@submission.evaluations.any?{|e| e.finished? } %>
            <div class='submissionGradeBox warning'>
              No Reviews
            </div>
        <% else %>
            <% @questions.each do |question| %>
                <% if (rs =  @submission.get_responses_for_question(question)).any?{|r1| r1.evaluation.finished? } %>
                    <div class='submissionQuestionBox'>
                      <h2><%= question.question_text %></h2>
                      <div class='possiblePoints'><%= question.question_weight %> Points</div>
                      <% rs.sort{|a,b| @submission.user == @user.id ? -1 : a.created_at <=> b.created_at}.
                                 each_with_index do |response, index| %>
                          <% if response.evaluation.finished? %>
                              <div class='submissionBox'>
                                <div class='submissionResponsePoints <%= gradeColorFullScale(response.scale.value) %>'>
                                  <%= response.scale.value.to_s + '%' %></div>
                                <%= see_peer_review(response, index, @user) %>
                                <%= student_rebuttal(response, @user) %>
                                <%= instructor_comment(response, instructor) %>
                              </div>   <!-- submission box -->
                          <% end %> <!-- if finished -->
                      <% end %>  <!-- response loop -->
                    </div> <!-- end submissionQuestionBox -->
                <% end %>
            <% end %>  <!-- question loop -->
            <% if !@submitter and !@submission.instructor_approved? and !@kibitzing %>
                <div>
                  <%= link_to course_assignment_submission_path(@course, @assignment, @submission, finish: true) do %>
                      <div id='submitFormsButton' class='button'>Withdraw Review</div>
                  <% end %>
                </div>
            <% end %>
        <% end %> <!-- if-else -->
    <% end %>
  </div> <!-- submissionBoxesWrapper -->
</div>  <!-- submissionWrapper -->


<script>
    function add_written_response(question_id) {
        $('#awr_q_'+question_id).hide();
        $('#q_response_'+question_id).css('display', 'inline-block');
    }
</script>
