<!-- This should show the review of a submission regardless of who is asking for it-- instructor, submitter, or reviewer -->
<% instructor = @user.instructor?(@course) %>
<div id='submissionHeader'>
  <small style='display:block; float:left; margin-top:-18px; width:100%;'>
    <% if instructor %>
        <%= link_to "&larr; #{@submission.assignment.name}".html_safe , course_assignment_submissions_path(@course, @assignment) %>
    <% else %>
        <%= link_to "&larr; #{@submission.assignment.name}".html_safe , course_assignment_path(@course, @assignment) %>
    <% end %>
    <h1 class="name"> <% if instructor %><%= @submission.user.name %><% end %></h1>
    <% if !@submission.attachment.blank? %>
        <div id='submissionDownloadBtn'>
          <a href='<%= @submission.attachment.url %>' >Download Submission</a>
        </div>
    <% end %>
  </small>
</div>

<% if !@submission.attachment.blank? %>
    <div id='submissionPDFWrapper'>
      <embed src="<%= @submission.attachment.url %>" width="100%" height="100%" style="border: none;"></embed>
    </div>

<% end %>

<div id='submissionsWrapper'>
  <div id='submissionBoxesWrapper'>
    <% if instructor and Time.zone.now > @assignment.review_due %>
        <a href='<%= "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/#{@submission.id}?instructor_approved_toggle=true" %>' >
          <div class='button fl' style='margin-right: 20px;'><%= @submission.instructor_approved ? 'Reopen Review' : 'End Review'%></div>  </a>
    <% end %>
    <% if g = @submission.grade %>
          <span class='submissionGradeBox'>
            <span class='grade'> Average <%= prettifyFloat(g).to_s + '%' %></span>
          </span>
    <% end %>
    <% if !@submitter and @user == current_user and (e = @submission.evaluations.forUser(@user)[0]) and !e.finished  and Time.zone.now < @assignment.review_due %>
        <!-- This user is a reviewer who hasn't finished but has more time  -->
        <% @questions.each do |question| %>
            <div class='submissionQuestionBox' id='peer_review'>
              <h2><%= question.question_text %></h2>
              <%= complete_peer_review(response_for_question_by_peer(@user, @submission, question), @user) %>
            </div> <!-- submissionQuestionBox -->
        <% end %> <!-- questions loop -->
        <div>
          <%= link_to course_assignment_submission_path(@course, @assignment, @submission, finish: true) do %>
              <div id='submitFormsButton' class='button'>Publish Review</div>
          <% end %>
        </div>

    <% else %> <!-- the user is a submitter or a reviewer who is finished or out of time or an instructor -->
        <!--     EVALUATIONS -->
        <% if !@submissions.evaluations.any?{|e| e.finished? } %>
            <div class='submissionGradeBox warning'>
              No Reviews
            </div>
        <% else %>
            <% @questions.each do |question| %>
                <div class='submissionQuestionBox'>
                  <h2><%= question.question_text %></h2>
                  <div class='possiblePoints'><%= question.question_weight %> Points</div>
                  <% @submission.get_responses_for_question(question).sort_by{|r| r.created_at}.
                             each_with_index do |response, index| %>
                      <% if response.evaluation.finished? %>
                          <div class='submissionBox'>
                            <div class='submissionResponsePoints <%= gradeColorFullScale(response.scale.value) %>'>
                              <%= response.scale.value.to_s + '%' %></div>
                            <%= see_peer_review(response, index, @user) %>
                            <%= student_rebuttal(response, @user) %>
                            <%= instructor_comment(response, instructor) %>
                          </div>   <!-- submission box -->
                      <% end %> <!-- if finished -->
                  <% end %>  <!-- response loop -->
                </div> <!-- end submissionQuestionBox -->
            <% end %>  <!-- question loop -->
        <% end %> <!-- if-else -->
    <% end %>
  </div> <!-- submissionBoxesWrapper -->
</div>  <!-- submissionWrapper -->


<script>
    function add_written_response(question_id) {
        $('#awr_q_'+question_id).hide();
        $('#q_response_'+question_id).css('display', 'inline-block');
    }
</script>
