<!-- This is reached via the Complete or See Review button for a reviewer -->
<!-- if @reviewer is not the current user then the viewer is an instructor reviewing @reviewer's finished reviews -->
<div id='submissionHeader'>
  <small style='display:block; float:left; margin-top:-18px; width:100%;'>
    <% if @reviewer.instructor?(@course) %>
        <%= link_to "&larr; #{@submission.assignment.name}".html_safe , course_assignment_submissions_path(@course, @assignment) %>
    <% else %>
        <%= link_to "&larr; #{@submission.assignment.name}".html_safe , course_assignment_path(@course, @assignment) %>
    <% end %>
    <h1 class="name"> <% if @reviewer.instructor?(@course) %><%= @submission.user.name %><% end %></h1>
    <% if !@submission.attachment.blank? %>
        <div id='submissionDownloadBtn'>
          <a href='<%= @submission.attachment.url %>' >Download Submission</a>
        </div>
    <% end %>
  </small>
</div>

<% if !@submission.attachment.blank? %>
    <div id='submissionPDFWrapper'>
      <embed src="<%= @submission.attachment.url %>" width="100%" height="100%" style="border: none;"></embed>
    </div>
    <div id='submissionsWrapper'>
<% else %>
    <div id='submissionsWrapperNoPDF'>
<% end %>


<div id='submissionBoxesWrapper'>
  <% if @reviewer == current_user and !@submission.evaluations.forUser(@reviewer)[0].finished  and
          Time.zone.now < @assignment.review_due %>
      <!-- This user is a reviewer who hasn't finished but has time  -->
      <% @questions.each do |question| %>
          <div class='submissionQuestionBox' id='peer_review'>
            <h2><%= question.question_text %></h2>
            <% response = response_for_question_by_peer(@reviewer, @submission, question) %>
            <%= nested_form_for [@course, @assignment, question, response], :remote => true  do |f| %>
                <div class='peerReviewJustification'>
                  <div class='submissionResponseFrom'>Comment<%= question.written_response_required ? ' (required)' : '' %></div>
                  <%= f.text_area :peer_review, :html => {class: "reviewTextArea fl"}, :required => question.written_response_required %>
                </div>

                <div class="radio_btns">
                  <% question.scales.sort_by {|s| s.value}.each do |scale| %>
                      <div class="radio_btn">
                        <%= f.radio_button :scale_id, scale.id %>
                        <%= f.label "scale_id_#{scale.id}", "#{scale.value}% - #{scale.description}" %>
                      </div>
                  <% end %> <!-- end scale loop -->
                </div>
                <br>
                <div class='savedStatus'></div>
            <% end %> <!-- end form -->
          </div> <!-- submissionQuestionBox -->

      <% end %> <!-- questions loop -->

      <%= link_to course_assignment_submission_path(@course, @assignment, @submission, finish: true) do %>
          <div id='submitFormsButton' class='button'>Publish Review</div>
      <% end %>

  <% else %> <!-- the user is a reviewer who is finished or out of time -->

      <!--     EVALUATIONS -->
      <% @questions.each do |question| %>
          <div class='submissionQuestionBox'>
            <h2><%= question.question_text %></h2>
            <div class='possiblePoints'><%= question.question_weight %> Points</div>
            <% @submission.get_responses_for_question(question).sort_by{|r| r.created_at}.
                       sort_by{|r| r.evaluation.user == @reviewer ? 0 : 1}.each_with_index do |response, index| %>
                <% if response.evaluation.finished? %>
                    <div class='submissionBox'>
                      <div class='submissionResponsePoints <%= gradeColorFullScale(response.scale.value) %>'><%= response.scale.value.to_s + '%' %></div>
                      <div class='submissionResponseFrom'>
                              <% if @reviewer.id == response.evaluation.user.id and @reviewer == current_user %>
                                Your Review
                              <% else %>
                                <%= reviewer_name(response.evaluation, index) %>'s Review
                              <% end %>
                      </div>  <!-- submissionResponseFrom -->
                      <div class='submissionPeerReview'><%= if !response.peer_review.blank? then response.peer_review else "No written response provided." end %></div>

                      <% if !response.student_response.blank? then %>
                          <div class='submissionStudentResponse'>
                            <div class='submissionResponseFrom' style="margin-top: 30px;">
                              <% if @reviewer.instructor?(@course) %>
                                  <%= @submission.user.first_name %>'s Rebuttal
                              <% elsif @reviewer.submitting_id(@assignment) == @submission.user.id then %>   <!-- probably never true -->
                                  Your Rebuttal (Send mail to james.morris@cmu.edu if you see this.)
                              <% else %>
                                  Author's Rebuttal
                              <% end %>
                            </div>
                            <p> <%= response.student_response.html_safe.gsub(/\n/,'<br>').html_safe %> </p>
                          </div>
                      <% end %>
                      <% if @reviewer.instructor?(@course) and !@submission.instructor_approved? %>
                          <div class='submissionInstructorResponse' style="margin-top:25px; margin-bottom:-3px;">
                            <div class='submissionResponseFrom'>Instructor Comment</div>
                            <%= nested_form_for [@course, @assignment, question, response]  do |f| %>
                                <%= f.text_area :instructor_response, class: 'submissionTextArea fl'  %>
                                <%= f.submit "Reply", class: 'submissionTextAreaReply fr' %>
                            <% end %>
                          </div>
                      <% elsif response.instructor_response %>
                          <div class='submissionResponseFrom'>Instructor Comment</div>
                          <%= response.instructor_response %>
                      <% end %> <!-- Instructor Response -->
                    </div>   <!-- submission box -->
                <% end %> <!-- if finished -->
            <% end %>  <!-- response loop -->
          </div> <!-- end submissionQuestionBox -->
      <% end %>  <!-- question loop -->
  <% end %> <!-- if-else -->
</div>  <!-- submissionWrapper -->
</div>
</div>

<script>
    function add_written_response(question_id) {
        $('#awr_q_'+question_id).hide();
        $('#q_response_'+question_id).css('display', 'inline-block');
    }
</script>
