<div style='width:50%;'>
<p id="notice"><%= notice %></p>

<p>
  <b>Submitted:</b>
  <%= @submission.submitted %>
</p>

<p>
  <b>Submission:</b>
  <%= @submission.submission %>
</p>

<p>
  <b>Assignment:</b>
  <%= @submission.assignment_id %>
</p>

<p>
  <b>User:</b>
  <%= @submission.user_id %>
</p>
</div>
<div style='width:50%;'>
  <iframe src="http://docs.google.com/viewer?url=agora.dev<%= url_encode(@submission.submission) %>&embedded=true" width="600" height="780" style="border: none;"></iframe>
</div>  




<%= link_to 'Edit', edit_course_assignment_submission_path(@course, @submission) %> |
<%= link_to 'Back', course_assignment_submissions_path %>
