
<div class="clearfix"></div>

<% if @evaluations && (@submission.completed_responses.length > 0) %>
    <h3>Reviews of Your Submission</h3>
    <div id="student_evaluation_view">
      <div class='submissionGradeBox'>
        <span class="grade"><%= unless (g = @submission.grade).nil? then 'Review Average: ' + prettifyFloat(g).to_s + "%" end %></span>
      </div>

      <% @questions.each do |question| %>
          <div class='submissionQuestionBox clearfix'>
            <h2><%= question.question_text %></h2>
            <div class='possiblePoints'><%= question.question_weight %> Points</div>
            <% @submission.get_responses_for_question(question).sort_by{|r| r.created_at }.each_with_index do |response, index| %>
                <% if response.evaluation.finished? %>
                    <div class='submissionBox'>
                      <div class='submissionResponsePoints <%= gradeColorFullScale(response.scale.value) %>'><%= if !response.scale.nil? then response.scale.value.to_s + '%' else '--' end %></div>
                      <div class='submissionResponseFrom'><%= reviewer_name(response.evaluation, index) %></div>
                      <div class='submissionPeerReview'><%= if !response.peer_review.blank? then response.peer_review end %></div>

                      <div class='submissionInstructorResponse'>
                        <% if !@submission.instructor_approved %>
                            <div class='submissionResponseFrom' style="margin-top: 20px;">Your Rebuttal</div>
                            <%= nested_form_for [@course, @assignment, question, response], :remote => true do |f| %>
                                <%= f.text_area :student_response, class:  'submissionTextArea fl'  %>
                                <br>
                                <div class='savedStatus'></div>
                            <% end %>
                        <% elsif response.student_response %>
                            <div class='submissionResponseFrom' style="margin-top: 20px;">Your Rebuttal</div>
                            <p> <%= response.student_response.html_safe.gsub(/\n/,'<br>').html_safe %> </p>

                        <% end %>
                      </div> <!-- End Student Response -->

                      <% if response.instructor_response then %>
                          <div class='submissionStudentResponse'>
                            <div class='submissionResponseFrom' style="margin-top: 25px;">Instructor's Comment</div>
                            <%= response.instructor_response %>
                          </div>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
          </div> <!-- end submissionQuestionBox -->
          <div class="clearfix"></div>
      <% end %>
    </div>
<% elsif Time.zone.now < @assignment.submission_due %>
    <h3>Reviewing Rubric</h3>
    <% @questions.each do |question| %>
        <div class='submissionQuestionBox clearfix'>
          <h2><%= question.question_text %></h2>
          <div class='possiblePoints'><%= question.question_weight %> Points</div>
          <% question.scales.sort_by{|s| s.value}.each do |scale|  %>
              <%= scale.description + ':' + scale.value.to_s + '%   ' %>
          <% end %>
        </div>
    <% end %>
<% end %>
