<!-- This is by "View Reviews" for an instructor -->
<div id='submissionHeader'>
  <small style='display:block; float:left; margin-top:-18px; width:100%;'>
    <%= link_to "&larr; #{@submission.assignment.name}".html_safe , course_assignment_submissions_path(@course, @assignment) %>
    <h1 class="name"> <%= @submission.user.name %> </h1>
    <% if !@submission.attachment.blank? %>
        <div id='submissionDownloadBtn'>
          <a href='<%= @submission.attachment.url %>' >Download Submission</a>
        </div>
    <% end %>
  </small>
</div>

<% if !@submission.attachment.blank? %>
    <div id='submissionPDFWrapper'>
      <embed src="<%= @submission.attachment.url %>" width="100%" height="100%" style="border: none;"></embed>
    </div>
    <div id='submissionsWrapper'>
<% else %>
    <div id='submissionsWrapperNoPDF'>
<% end %>


<div id='submissionBoxesWrapper'>
  <!--     GRADE -->
  <span class='submissionGradeBox'>
        <span class="grade"><%= unless g = @submission.grade.nil? then 'Review Average: ' + g.to_s + "%" end %></span>
  </span>
  <%= link_to course_assignment_submission_path(@course, @assignment, @submission, :submission => { :instructor_approved => false}), :method => :put do %>
      <div class='button fr' style="margin-right: 0px;"><%= @submission.instructor_approved ? 'Reopen Review' : 'End Review' %></div>
  <% end %>
  <% if (Time.zone.now >= @assignment.review_due) && @submission.grade.nil?%>
      <div class='submissionGradeBox warning'>
        This student's submission did not receive any reviews.
      </div>
  <% end %>

  <!--     EVALUATIONS -->
  <% @questions.each do |question| %>
      <div class='submissionQuestionBox'>
        <h2><%= question.question_text %></h2>
        <div class='possiblePoints'><%= question.question_weight %> Points</div>
        <% @submission.get_responses_for_question(question).sort_by{|r| r.created_at}.each_with_index do |response, index| %>
            <% if response.evaluation.finished? %>
                <div class='submissionBox'>
                  <div class='submissionResponsePoints <%= gradeColorFullScale(response.scale.value) %>'><%= response.scale.value.to_s + '%' %></div>
                  <div class='submissionResponseFrom'>
                    <%= response.evaluation.user.name %>
                  </div>
                  <% if !response.student_response.blank? then %>
                      <div class='submissionStudentResponse'>
                        <div class='submissionResponseFrom' style="margin-top: 30px;">
                          <%= @submission.user.first_name %>'s Rebuttal
                        </div>
                        <p> <%= response.student_response.html_safe.gsub(/\n/,'<br>').html_safe %> </p>
                      </div>
                  <% end %>
                  <% if !@submission.instructor_approved? %>
                      <div class='submissionInstructorResponse' style="margin-top:25px; margin-bottom:-3px;">
                        <div class='submissionResponseFrom'>Instructor Comment</div>
                        <%= nested_form_for [@course, @assignment, question, response], remote:true  do |f| %>
                            <%= f.text_area :instructor_response, class: 'submissionTextArea fl'  %>
                            <!-- %= f.submit "Reply", class: 'submissionTextAreaReply fr' %>   -->
                        <% end %>
                      </div>
                  <% elsif response.instructor_response %>
                      <div class='submissionResponseFrom'>Instructor Comment</div>
                      <%= response.instructor_response %>
                  <% end %> <!-- End Instructor Response -->
                </div>
            <% end %>
        <% end %>
      </div> <!-- end submissionQuestionBox -->
  <% end %>

</div>
</div>


<script>
    function add_written_response(question_id) {
        $('#awr_q_'+question_id).hide();
        $('#q_response_'+question_id).css('display', 'inline-block');
    }
</script>

</div>
