<%= render "assignments/header" %>

<% if @assignment.submissions.length == 0 %>
    <h2 class="noData">No one has submitted yet.</h2>
<% else %>
    <% if Time.zone.now < @assignment.submission_due %>
        <div class='notice'>Submissions are still arriving.</div>
    <% elsif Time.zone.now < @assignment.review_due %>
        <% if @assignment.manual_assignment  %>
            <%= link_to assign_reviews_course_assignment_reviews_path(@course, @assignment) do %>
                <div class='button fr' style="margin-right: -12px; margin-top: -13px;"><%= @assignment.are_reviewers_assigned ? 'Pause Reviews' : 'Start Reviews' %></div>
            <% end %>
        <% end %>
    <% else %>
        <div class='notice'>Peer reviewing is over.</div>
    <% end %>
<% end %>


<% if @students.length > 0 %>
    <table class="reviews">
      <tr>
        <th>Submitter</th>
        <th>Reviewers</th>
      </tr>
      <% @students.each do |student| %>
          <% sub = student.submissions.where('assignment_id = ' + @assignment.id.to_s)[0]  %>
          <% if sub %>
              <%  evals = sub.evaluations %>
              <%  if evals.map{|e| e.user_id }.length != evals.map{|e| e.user_id }.uniq.length then puts 'Error, duplicate reviewer(s) for ' + student.email end %>
              <tr>
                <td><%= student.email %></td>
                <% evals.sort_by{|e| e.created_at }.each do |e| %>
                    <td>
                      <%  if e.user.submitting_id(@assignment, e.submission) == student.id then multi_flash(:error, 'Warning: Self-reviewing by ', e.user.email) end %>
                      <%= e.user.email %><%= link_to image_tag('delete.png'), e, method: :delete,
                                                     data: { confirm: e.finished ? 'A completed review will be discarded. Are you sure?' : "" } %>
                    </td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
    </table>
    <br />
<% else %>
    <h2 class="noData">No one has enrolled yet.</h2>
<% end %>



<% if Time.zone.now < @assignment.review_due %>
    <% if Time.zone.now > @assignment.submission_due %>
        Since reviewing has started, any changes may not be noticed by reviewers.
        <br>
        <br>
    <% end %>
    <form method='post' action="/courses/<%= @course.id.to_s %>/assignments/<%= @assignment.id.to_s %>/reviews">
      <span class="actions">
        <input name="load_reviewers" type="submit" value="Add Reviewing Tasks Below" style="margin-right:20px" />
      </span>
      <span class="actions">
        <input name='add_required' type='submit' value='Add Any More Required Reviewers' style='margin-right:20px' />
      </span>
      <span class="radio">
        <input name="clear_reviewers" type="radio" value="true">Clear Tasks First </input>
      </span>
      <div class="field" >
        <textarea cols="100" name="response[reviewers]" rows="10"></textarea>
      </div>
    </form>
    <br/>
    <div>
      Each line has the form 'Submitter-email,Reviewer1-email,Reviewer2-email,...'
<% end %>
</div>
