<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Coursemark</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/datepickers.css">
        <link rel="shortcut icon" href="/favicon.png" />

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="courseSelectorModal" class="hidden">
            <div class="modal">
                <h1>Courses</h1>
                <% current_user.courses.each do |course| %>
                  <%= link_to course_path(course) do %>
                    <div class="course"><%= course.name %></div>
                  <% end %>
                <% end %>
            </div>
        </div>

        <div id="sidebar">
            <div id="logo"><%= image_tag "coursemark.png", alt: "Coursemark" %></div>
            <% if current_user.courses.length > 1 %>
                <div id='courseSelector'>
                  <%= @course.name %>
                </div>
            <% end %>

            <ul>
                <li class="divider">Assignments</li>
                <% if current_user.instructor?(@course) %>
                    <li><%= link_to "+ New Assignment", new_course_assignment_path(@course) %></li>
                <% end %>

            	<% @assignments.each do |assignment| %>
                    <li class="<%= 'active' if @assignment && @assignment.id == assignment.id %>">
                    	<%= link_to course_assignment_path(@course, assignment) do %>
                            <div class="name"><%= assignment.name %></div>
                        <% end %>
                    </li>
                <% end %>

                <% if @assignments.length == 0 %>
                    <li class="empty">No assignments yet</li>
                <% end %>

                <% if current_user.instructor?(@course) %>
                    <li class="divider">Students</li>
                    <%= link_to registrations_path(:course => @course.id) do %>
                        <li class="<%= 'active' if controller.controller_name == 'registrations' %>">
                            <div class="name=">Course Roster</div>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>

        <div id="main">
            <%= yield %>
        </div>

        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "nested_form" %>
        <%= yield :javascript_includes %>
    </body>
</html>
